.x-grid-cell-inner.x-grid-cell-inner-row-numberer {
  text-align: center !important;
}

.x-tab-bar-default {
  background-color: #ededed !important;
}

.x-tab-default {
  border-color: #E3E3E3;
  background-color: #E3E3E3;
}

.x-tab-bar-strip-default {
  border-color: #ececec !important;
  background-color: #4a9fb8 !important;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #ececec !important;
}
.x-tab-active {
  background-color: #4a9fb8 !important;
  border-color: #4a9fb8 !important;
  border: none !important;
}

.x-tab-over {
  border-color: #ececec !important;
  background-color: #ececec !important;
}

.x-tab-over:hover {
  border-color: #ededed !important;
  background-color: #ededed !important;
}

.x-tab-active:hover {
  background-color: #4a9fb8 !important;
  border-color: #4a9fb8 !important;
  border: none !important;
}


.x-tab-active {
  background-color: #4a9fb8 !important;
  border-color: #4a9fb8 !important;
  border: none !important;
}

.x-noborder-rl {
  border-right-width: 1px !important;
  border-left-width: 1px !important;
  border-top-width: 1px !important;
  border-color: #c1c1c1 !important;
}

.x-noborder-trl {
  border-right-width: 1px !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-color: #c1c1c1 !important;
}

.x-noborder-rbl{
  border-right-width: 1px !important;
  border-left-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #c1c1c1 !important;
}

.x-panel-header.x-header.x-header-noborder.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-noborder-trl {
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  border-top-width: 0px !important;
}

.x-tab-inner-default {
  color: #32616f;
}

/*注销按钮*/
.logout {
  position: fixed;
  top: 4px;
  left: 95%;
}

.refresh-button {
  left: 95%;
}
/*表格式样*/
.title {
  width: 75px;
}

.x-btn-default-small {
  border-color: #b6b6b6 !important;
}
.x-btn-default-small {
  background-color: #e4e4e4 !important;
  background-image: none !important;
}

.x-btn-inner-default-small {
  color: #4a9fb8;
}

/*win式样开始*/
.x-window-header-default {
  background-color: #DADADA;
  border-color: #DADADA;
}

.x-window-header-title-default {
  color: #32616F;
}

.x-window-default {
  border-color: #DADADA;
}

.x-toolbar-footer {
  background-color: #e8e8e8 !important;
  background: #e8e8e8 !important;
}

/*win式样结束*/
.x-window-header-default .x-tool-img {
  background-color: transparent;
}
